.multiSelectLabel {
    font-weight: 400 !important;
    font-size: 10px !important;
    color: #999999 !important;
}

.selectAll {
    font-weight: 400 !important;
    font-size: 10px !important;
    color: #0087FA !important;
    text-decoration: underline !important;
}

.clearAll {
    font-weight: 400 !important;
    font-size: 10px !important;
    color: #0087FA !important;
    text-decoration: underline !important;
}

.selectedCount {
    font-weight: 400 !important;
    font-size: 10px !important;
}